$borderRadius: 12px;



:root {
  font-family: Inter;
  --surface-ground: var(--p-surface-100);
  --code-background: var(--p-surface-900);
  --code-color: var(--p-surface-200);
  --primary-color: var(--p-primary-color);
  --primary-contrast-color: var(--p-primary-contrast-color);
  --text-color: var(--p-text-color);
  --text-color-secondary: var(--p-text-muted-color);
  --surface-border: var(--p-content-border-color);
  --surface-card: var(--p-content-background);
  --surface-hover: var(--p-content-hover-background);
  --surface-overlay: var(--p-overlay-popover-background);
  --transition-duration: var(--p-transition-duration);
  --maskbg: var(--p-mask-background);
  --content-border-radius: var(--p-content-border-radius);
  --layout-section-transition-duration: 0.2s;
  --element-transition-duration: var(--p-transition-duration);
  --focus-ring-width: var(--p-focus-ring-width);
  --focus-ring-style: var(--p-focus-ring-style);
  --focus-ring-color: var(--p-focus-ring-color);
  --focus-ring-offset: var(--p-focus-ring-offset);
  --focus-ring-shadow: var(--p-focus-ring-shadow);
  --p-floatlabel-color: var(--p-form-field-float-label-color);
  --p-floatlabel-focus-color: var(--p-form-field-float-label-focus-color);
  --p-floatlabel-active-color: var(--p-form-field-float-label-active-color);
  --p-floatlabel-invalid-color: var(--p-form-field-float-label-invalid-color);
  --p-floatlabel-transition-duration: 0.2s;
  --p-floatlabel-position-x: var(--p-form-field-padding-x);
  --p-floatlabel-position-y: var(--p-form-field-padding-y);
  --p-floatlabel-font-weight: 500;
  --p-floatlabel-active-font-size: 0.75rem;
  --p-floatlabel-active-font-weight: 400;
  --p-floatlabel-over-active-top: -1.25rem;
  --p-floatlabel-in-input-padding-top: 1.5rem;
  --p-floatlabel-in-input-padding-bottom: var(--p-form-field-padding-y);
  --p-floatlabel-in-active-top: var(--p-form-field-padding-y);
  --p-floatlabel-on-border-radius: var(--p-border-radius-xs);
  --p-floatlabel-on-active-background: var(--p-form-field-background);
  --p-floatlabel-on-active-padding: 0 0.125rem;
  //--p-floatlabel-in-input-padding-top: 0.9375rem;
  //--p-floatlabel-in-input-padding-bottom: 0.3125rem;
  --p-panel-background: var(--p-content-background);
  --p-panel-border-color: var(--p-content-border-color);
  --p-panel-color: var(--p-content-color);
  --p-panel-border-radius: var(--p-content-border-radius);
  --p-panel-header-background: transparent;
  --p-panel-header-color: var(--p-text-color);
  --p-panel-header-padding: 1.125rem;
  --p-panel-header-border-color: var(--p-content-border-color);
  --p-panel-header-border-width: 0;
  --p-panel-header-border-radius: 0;
  --p-panel-toggleable-header-padding: 0.375rem 1.125rem;
  --p-panel-title-font-weight: 600;
  --p-panel-content-padding: 0 1.125rem 1.125rem 1.125rem;
  --p-panel-footer-padding: 0 1.125rem 1.125rem 1.125rem;
}

:root[class*='app-dark'] {
  --surface-ground: var(--p-surface-950);
  --code-background: var(--p-surface-800);
  --code-color: var(--p-surface-100);
}

html {
  font-size: 14px;
}

body {
  color: var(--text-color);
  background-color: var(--surface-ground);
  @media (max-width: 991px){
    margin: 0;
  }
}
h2 {
  margin-block: 0.5rem;
}
p {
  margin: 0
}

#workspace {
  padding-left: 180px;
  transition: .3s;
  a {
    cursor: pointer;
    color: var(--p-primary-color);
  }

  a:hover {
    text-decoration: underline;
  }
}

#workspace.collapsed {
  padding-left: 50px;
}

#workspace.mobile {
  padding-left: 0;
}

@media (min-width: 1024px) {
  .top-navbar {
    display: inline-flex !important;
  }
}

.card {
  padding: 1rem;
  color: var(--p-text-color);
  margin-bottom: 1rem;
  border-radius: $borderRadius;
  box-shadow: 0 3px 5px rgba(0,0,0,.02), 0 0 2px rgba(0,0,0,.05), 0 1px 4px rgba(0,0,0,.08) !important;

  h2 {
    color: var(--p-primary-color);
  }

}


.p-tiptap  {
  strong {
    color: var(--p-primary-color);
  }
}

.p-datatable-column-filter-button, .p-datatable-column-filter-clear-button {
  display: none !important;
}
//.p-datatable-filter-element-container{
//  flex: unset !important;
//  width: unset !important;
//}
//.p-floatlabel {
//  width: fit-content;
//  input {
//
//    padding-top: var(--p-floatlabel-in-input-padding-top);
//    padding-bottom: var(--p-floatlabel-in-input-padding-bottom);
//
//  }
//  label {
//    display: none;
//  }
//}
//
.p-floatlabel:has(input) input:not(.p-datepicker-input) {transition: var(--transition-duration);}
.p-floatlabel:has(input:focus), .p-floatlabel:has(input.p-filled) {
//  label, .p-floatlabel:has(input.p-filled) label, .p-floatlabel:has(input:-webkit-autofill) label, .p-floatlabel:has(textarea:focus) label, .p-floatlabel:has(textarea.p-filled) label, .p-floatlabel:has(.p-inputwrapper-focus) label, .p-floatlabel:has(.p-inputwrapper-filled) label {
//    top: 0.6rem;
//    font-size: 0.7rem;
//    color: var(--p-floatlabel-focus-color);
//
//
//}
  input {
    max-width: 12rem !important;
    background-color: var(--p-highlight-background);

  }
}

.p-treetable-body-cell-content:has(.flex){
  justify-content: end !important;
}

.p-dialog{
  padding-inline: 2rem;
}


.p-treetable-tbody > tr > td {
  padding-left: 0;
}

// для таблицы зыказов, чтобы красиво отображались крашенные ячейки
.dt-color-cell .p-datatable-tbody:not(.revert-table *) > tr > td{
  //padding: 0; position: relative;align-content: stretch;
}
.normal-cell {
  padding: var(--p-datatable-body-cell-padding);height: 100%;width:100%;position: absolute;;
}
.no-absolute{
  position: unset;
}
.expander-cell .p-datatable-row-toggle-button {
  display: flex;
  margin-block: 75%;
}

.products-in-order tr, .products-in-order th {
  background-color: rgb(252 248 227);
}

.p-datatable-scrollable .p-datatable-frozen-column {
  background: revert !important;
}

.p-editor > .p-editor-toolbar:first-child:not( .p-editor-toolbar.ql-toolbar) {
  display: none;
}

.my-panel{
  border: 1px solid var(--p-panel-border-color);
  border-radius: var(--p-panel-border-radius);
  background: var(--p-panel-background);
  color: var(--p-panel-color);
  h4 {
    margin: 0 0 0.5rem 0
  }
}

.paid {
  background-color: #4eca5a8f !important;
}

.completed {
  background-color: #ff15644a !important;
}


